.blockx-list-of-widget__body{
    padding-top: 10px;
}

.blockx-list-of-widget .blockx-list-of-widget .blockx-list-of-widget__body,
.blockx-list-of-widget .blockx-list-of-widget .blockx-list-of-widget__control {
    margin-left: 10px;
}

.blockx-list-of-widget__item,
.blockx-list-of-widget__control {
    position: relative;
    margin-bottom: 10px;
}
.blockx-list-of-widget__item:before,
.blockx-list-of-widget__control:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e0e0e0;
    left: -10px;
    top: 0;
}
.blockx-list-of-widget__item:hover:before,
.blockx-list-of-widget__control:hover:before{
    background: var(--wp-admin-theme-color);
}

.blockx-list-of-widget__control {
    margin: 0;
    padding: 5px 0;
}
.blockx-list-of-widget__control .components-button,
.blockx-list-of-widget__item--control .components-button{
    margin-right: 5px;
}