.blockx-post{
    padding: 10px;
}
.blockx-post + .blockx-post{
    border-top: 1px solid #eee;
}
.blockx-post:hover{
    background: #efefef;
    cursor: pointer;
}
.blockx--locked-post{
    position: relative;
}
.blockx--search-post__no-results{
    padding: 10px;
    font-style: italic;
}
.blockx--locked-post__icon{
    position: absolute;
    right: 0px;
    bottom: 1px;
    top: 28px;
    padding: 4px;
    background: linear-gradient(90deg,transparent 0%, #eee 20%, #eee 100%);
    
}
.blockx--locked-post__icon:hover{
    cursor: pointer;
}

.blockx--search-posts__input-wrapper{
    position: relative;
}
.blockx--search-post__spinner-wrapper{
    position: absolute;
    bottom: 2px;
    right: -6px;
}

.blockx--search-post__popover{
    min-width: 240px;
}