.blockx-post{
    padding: 10px;
}
.blockx-post + .blockx-post{
    border-top: 1px solid #eee;
}
.blockx-post:hover{
    background: #efefef;
    cursor: pointer;
}
.blockx--locked-post{
    position: relative;
}
.blockx--search-post__no-results{
    padding: 10px;
    font-style: italic;
}
.blockx--locked-post__icon{
    position: absolute;
    right: 0px;
    bottom: 1px;
    top: 28px;
    padding: 4px;
    background: linear-gradient(90deg,transparent 0%, #eee 20%, #eee 100%);
    
}
.blockx--locked-post__icon:hover{
    cursor: pointer;
}

.blockx--search-posts__input-wrapper{
    position: relative;
}
.blockx--search-post__spinner-wrapper{
    position: absolute;
    bottom: 2px;
    right: -6px;
}

.blockx--search-post__popover{
    min-width: 240px;
}
.blockx-media-widget{
    border-radius: 5px;
    border: 1px solid #efefef;
    padding: 10px;
}

.blockx-media-widget__control{
    padding-bottom: 10px;
}

.blockx-media-widget__preview .spinner{
    float: none;
    margin: 0 auto;
    display: block;
}


.blockx-media-widget__multiple {
    *zoom: 1; /* Für den IE6 und IE7 */
}
.blockx-media-widget__multiple::before,
.blockx-media-widget__multiple::after {
    content: " ";
    display: table;
}

.blockx-media-widget__multiple::after {
    clear: both;
}

.blockx-media-widget__multiple .blockx-media-widget__preview > .blockx-media-widget__preview--image,
.blockx-media-widget__multiple .blockx-media-widget__preview--is-loading,
.blockx-media-widget__multiple .blockx-media-widget__404{
    float: left;
    width: 25%;
}
.blockx-media-widget__preview--image img{
    max-width: 100%;
}
.blockx-list-of-widget__body{
    padding-top: 10px;
}

.blockx-list-of-widget .blockx-list-of-widget .blockx-list-of-widget__body,
.blockx-list-of-widget .blockx-list-of-widget .blockx-list-of-widget__control {
    margin-left: 10px;
}

.blockx-list-of-widget__item,
.blockx-list-of-widget__control {
    position: relative;
    margin-bottom: 10px;
}
.blockx-list-of-widget__item:before,
.blockx-list-of-widget__control:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e0e0e0;
    left: -10px;
    top: 0;
}
.blockx-list-of-widget__item:hover:before,
.blockx-list-of-widget__control:hover:before{
    background: var(--wp-admin-theme-color);
}

.blockx-list-of-widget__control {
    margin: 0;
    padding: 5px 0;
}
.blockx-list-of-widget__control .components-button,
.blockx-list-of-widget__item--control .components-button{
    margin-right: 5px;
}

.blockx--ssr__wrapper{
    position: relative;
}
.blockx--ssr__wrapper .loader{
    position: absolute;
    top: 0; 
    right: 0;
}
