.blockx-auto-complete__suggestion{
    padding: 12px;
}
.blockx-auto-complete__suggestion:hover{
    cursor: pointer;
    background: #efefef;
}
.blockx-auto-complete__suggestion + .blockx-auto-complete__suggestion {
    border-top: 1px solid #eee;
}

.blockx-auto-complete__suggestion .description {
    color: #646970;
}