.blockx-post{
    padding: 10px;
}
.blockx-post + .blockx-post{
    border-top: 1px solid #eee;
}
.blockx-post:hover{
    background: #efefef;
    cursor: pointer;
}
.blockx--search-post__no-results{
    padding: 10px;
    font-style: italic;
}

.blockx--search-posts__input-wrapper{
    position: relative;
}
.blockx--search-post__spinner-wrapper{
    position: absolute;
    bottom: 2px;
    right: -6px;
}

.blockx--search-post__popover{
    min-width: 240px;
}